[Match]
Driver=virtio_net

[Link]
RequiredForOnline=routable

[Network]
DHCP=ipv4
IPv6AcceptRA=no
LinkLocalAddressing=no
LLMNR=no
MulticastDNS=no
DNSDefaultRoute=no

[DHCPv4]
ClientIdentifier=mac
UseDNS=no
UseNTP=no
UseHostname=no
SendHostname=no
